<h1 class="text-center mt-4"><%= @category.name %></h1>

<% if logged_in? && current_user.admin? %>
    <div class="text-center mt-4">
        <%= link_to "Edit category name", edit_category_path(@category), class:"btn btn-outline-info" %>
    </div>
<% end %>

<h3 class="text-center mt-4">Articles</h3>

<div class="apple_pagination">
    <%= will_paginate @arts, :container => false %>
</div>
<%= render 'articles/article' %>

<%= link_to "Back", categories_path,class:"btn btn-outline-info"%>

<div class="apple_pagination">
    <%= will_paginate @arts, :container => false %>
</div>